::placeholder {
    font-size: 0.8rem;
}
.main-content {
    padding: 10px;
    margin: 10px;
}

.blog_form {
    width: 40%;
    margin: 0px auto;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group > input,
textarea,
select {
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(223 237 236 / 98%);
}

.form-group > input:focus,
textarea:focus,
select:focus {
    outline: 0px;
}

.error-message {
    color: rgb(61, 44, 172);
}

.main_heading {
    display: grid;
    place-items: center;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.footer-logo {
    font-weight: 700;
    font-size: 1.8em;
}
